<template>
  <div>{{dirName}}</div>
</template>

<script lang="ts" setup>
const props = defineProps({
    demo: {
        type: String,
        default: '',

    },
})
</script>

<style lang="scss" scoped>
@import "./index.scss";
</style>

