  .select-item{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
  }
  
  
  .select-item:hover{
    background-color: aliceblue;
  } 


  .item-checked{
     background-color: azure;;
  }